.Exp-card-container{
    padding: 20px 20px;
    border-radius: 10px;
    background-color: rgb(31, 30, 45);
    /*background-color: #34335b;*/
    width:90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    align-items: center;
    position: relative;
}

.Exp-card-container:hover {
    border-color: rgba(0, 85, 150, 0.399);
    transform: scale(1.05);
    /*background-color: rgb(22, 20, 57);*/
    cursor: pointer;
    /*background-color: #33535b;*/
}

.Exp-card-container img {
    height: 100px; 
    object-fit: contain; 
    display: block;
    margin: 0 auto;
}

.Exp-card-container h1 {
    color: rgb(221, 223, 224);
    font-size: 25px;
    margin-bottom: 5px;
}

.Exp-r {
    color: rgb(0, 195, 255);
    font-size: 14px;
    font-weight: 600;
    line-height: 0.5;  
}

.Exp-t {
    color: white;
    font-size: 14px;
    line-height: 0.5; 
}

.Exp-card-front{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    
}

.Exp-card-container:hover .Exp-details {
    opacity: 1;
  }
  .Exp-card-container:hover .Exp-card-front {
    opacity: 0;
  }

  .Exp-details{
    width: 90%;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    align-items: center;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.5s ease-in-out
}

.Exp-dl {
    margin: 2px 0; /* Adjust as needed */
    line-height: 1.2; /* Reduces space between lines */
    width: 80%;
    text-align: center;
}


