.Exp-container {
    padding: 30px;
    align-items: center;
    justify-content: center;
}

.Exp-container header{
    padding-bottom: 20px;
    font-size: 25px;
}

.Exp-grid{
    display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
}

.Exp-details{
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 20px;
    width: 90%;
    background-color: rgb(31, 30, 45);
    border-radius: 10px;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
}

.Exp-details:hover{
    border-color: rgba(0, 85, 150, 0.399);
}
