.Proj-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the grid horizontally */
}
    

.Proj-container header{
    padding-bottom: 20px;
    font-size: 25px;
}

.Proj-grid{
    display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 40px;
  width: 80%;
}

